# Virtual environment
venv/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# pytest config
.pytest_cache/

# Logs files
logs/
*.log

# PyCharm settings (si usas PyCharm)
.idea/

# VS Code settings (si usas VS Code)
.vscode/

# MyPy (para los tipos estáticos)
.mypy_cache/

# Coverage reports (si usas coverage)
.coverage
.coverage.*

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Linux trash files
.Trash-*

# Windows image file caches
Thumbs.db
ehthumbs.db

# macOS file system files
.DS_Store
